* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

h1, h2 {
  color: blue;
}

h3 {
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
}

h4 {
  font-style: italic;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.photo {
  width: 80px;
  height: 80px;
  margin-right: 30px;
  position: relative;
  overflow: hidden;
}

img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;   
}

footer {
  margin-top: 20px;
}

